# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.

pbr>=0.6,!=0.7,<1.0
oslo.config==1.14.0
PasteDeploy==1.5.2
oslo.messaging==1.16.0
oslo.db==2.1.0
oslo.log==1.6.0
oslo.i18n==2.1.0
oslo.utils==1.8.0                      # Apache-2.0
pecan>=0.8
keystonemiddleware>=1.0.0
six>=1.7.0,<=1.9.0
sqlalchemy
stevedore>=1.1.0  						# Apache-2.0
WSME>=0.6
jsonpatch>=1.1
enum34==1.0.4

# watcher Applier
python-novaclient==2.28.1
python-openstackclient==1.6.0
python-neutronclient==3.0.0
python-glanceclient==1.1.0
python-cinderclient==1.4.0

# Collector
python-ceilometerclient==1.5.0
influxdb==2.9.1
parsedatetime==1.5
