# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.

apscheduler # MIT License
enum34;python_version=='2.7' or python_version=='2.6' or python_version=='3.3' # BSD
jsonpatch!=1.20 # BSD
keystoneauth1 # Apache-2.0
jsonschema<3.0.0 # MIT
keystonemiddleware # Apache-2.0
lxml!=3.7.0 # BSD
croniter # MIT License
oslo.concurrency # Apache-2.0
oslo.cache # Apache-2.0
oslo.config!=4.3.0,!=4.4.0 # Apache-2.0
oslo.context # Apache-2.0
oslo.db # Apache-2.0
oslo.i18n # Apache-2.0
oslo.log # Apache-2.0
oslo.messaging # Apache-2.0
oslo.policy # Apache-2.0
oslo.reports # Apache-2.0
oslo.serialization!=2.19.1 # Apache-2.0
oslo.service!=1.28.1 # Apache-2.0
oslo.utils # Apache-2.0
oslo.versionedobjects # Apache-2.0
PasteDeploy # MIT
pbr!=2.1.0 # Apache-2.0
pecan!=1.0.2,!=1.0.3,!=1.0.4,!=1.2 # BSD
PrettyTable<0.8 # BSD
voluptuous # BSD License
gnocchiclient # Apache-2.0
python-ceilometerclient # Apache-2.0
python-cinderclient # Apache-2.0
python-glanceclient # Apache-2.0
python-keystoneclient!=2.1.0 # Apache-2.0
python-monascaclient # Apache-2.0
python-neutronclient # Apache-2.0
python-novaclient # Apache-2.0
python-openstackclient # Apache-2.0
python-ironicclient # Apache-2.0
six # MIT
SQLAlchemy!=1.1.5,!=1.1.6,!=1.1.7,!=1.1.8 # MIT
stevedore # Apache-2.0
taskflow # Apache-2.0
WebOb # MIT
WSME # MIT
networkx<2.0 # BSD

